# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# VS Code
.vscode/
*.code-workspace

# Home Assistant
*.db
*.log
home-assistant_v2.db
secrets.yaml

# Entwicklung
.env
.env.*
venv/
.venv/

# OS
.DS_Store
Thumbs.db
desktop.ini